@model FRFELOBOOST.Models.ViewModel
@{
    ViewBag.Title = "Lol_ilan";
    Layout = "~/Views/Shared/layout_deneme.cshtml";
    <title>TFT İlanları</title>
    <link href="~/Content/tft_ilan.css" rel="stylesheet" />
}
<div class="container">
    <div class="aciklama_alan"><h1>TFT ELOBOOST İLANLARI</h1></div>
    <div class="aciklama_alan2">
        <h3>
            Aşağıdaki TFT ilanlarından size
            uygun olanı seçin ve satın alın.
        </h3>
    </div>



    <div class="ilan_alan">
        <div class="ust_alan">
            <div class="ilan1">
                @foreach (var ilan in Model.Adverts)
                {
                    if (ilan.AdvertsID == 4)
                    {
                        <h2>@ilan.AdvertTitle</h2>

                    }
                }
                <div class="ilan1_foto">
                    <img src="~/Content/img/penguin.png" />
                </div>
                <div class="ilan1_aciklama">
                    <p>Elobooster:</p>
                    <p>Küme Aralığı:</p>
                    <p>Fiyat:</p>
                    <p>İlan Tarihi:</p>
                </div>
                <div class="ilan1_db">
                    @foreach (var ilan in Model.Adverts)
                    {
                        if (ilan.AdvertsID == 4)
                        {
                            <p>@ilan.Elooboster.FirstName</p>
                            <p>@ilan.Ranks.RankName</p>
                            <p>@ilan.Ranks.RankPrice</p>
                            <p>@Convert.ToString(string.Format("{0:dd-MMMM-yyyy}", ilan.AdvertDate))</p>
                        }
                    }
                </div>
                <div class="ilan1_buton">
                    <button onclick="window.location.href='@Url.Action("Login","Kullanicilar")'" class="button" style="vertical-align:middle">
                        <span>Randevu Al</span>
                    </button>
                </div>
            </div>
            <div class="ilan2">
                @foreach (var ilan in Model.Adverts)
                {
                    if (ilan.AdvertsID == 8)
                    {
                        <h2>@ilan.AdvertTitle</h2>

                    }
                }
                <div class="ilan2_foto">
                    <img src="~/Content/img/octopus.png" />
                </div>
                <div class="ilan1_aciklama">
                    <p>Elobooster:</p>
                    <p>Küme Aralığı:</p>
                    <p>Fiyat:</p>
                    <p>İlan Tarihi:</p>
                </div>
                <div class="ilan1_db">
                    @foreach (var ilan in Model.Adverts)
                    {
                        if (ilan.AdvertsID == 8)
                        {
                            <p>@ilan.Elooboster.FirstName</p>
                            <p>@ilan.Ranks.RankName</p>
                            <p>@ilan.Ranks.RankPrice</p>
                            <p>@Convert.ToString(string.Format("{0:dd-MMMM-yyyy}", ilan.AdvertDate))</p>
                        }
                    }
                </div>
                <div class="ilan1_buton">
                    <button onclick="window.location.href='@Url.Action("Login","Kullanicilar")'" class="button" style="vertical-align:middle">
                        <span>Randevu Al</span>
                    </button>
                </div>

            </div>
            <div class="ilan3">
                @foreach (var ilan in Model.Adverts)
                {
                    if (ilan.AdvertsID == 10)
                    {
                        <h2>@ilan.AdvertTitle</h2>

                    }
                }
                <div class="ilan3_foto">
                    <img src="~/Content/img/sincap.png" />
                </div>
                <div class="ilan1_aciklama">
                    <p>Elobooster:</p>
                    <p>Küme Aralığı:</p>
                    <p>Fiyat:</p>
                    <p>İlan Tarihi:</p>
                </div>
                <div class="ilan1_db">
                    @foreach (var ilan in Model.Adverts)
                    {
                        if (ilan.AdvertsID == 10)
                        {
                            <p>@ilan.Elooboster.FirstName</p>
                            <p>@ilan.Ranks.RankName</p>
                            <p>@ilan.Ranks.RankPrice</p>
                            <p>@Convert.ToString(string.Format("{0:dd-MMMM-yyyy}", ilan.AdvertDate))</p>
                        }
                    }
                </div>
                <div class="ilan1_buton">
                    <button onclick="window.location.href='@Url.Action("Login","Kullanicilar")'" class="button" style="vertical-align:middle">
                        <span>Randevu Al</span>
                    </button>
                </div>

            </div>
            <div class="ilan4">
                @foreach (var ilan in Model.Adverts)
                {
                    if (ilan.AdvertsID == 4)
                    {
                        <h2>@ilan.AdvertTitle</h2>

                    }
                }
                <div class="ilan4_foto">
                    <img src="~/Content/img/peri.png" />
                </div>
                <div class="ilan1_aciklama">
                    <p>Elobooster:</p>
                    <p>Küme Aralığı:</p>
                    <p>Fiyat:</p>
                    <p>İlan Tarihi:</p>
                </div>
                <div class="ilan1_db">
                    @foreach (var ilan in Model.Adverts)
                    {
                        if (ilan.AdvertsID == 4)
                        {
                            <p>@ilan.Elooboster.FirstName</p>
                            <p>@ilan.Ranks.RankName</p>
                            <p>@ilan.Ranks.RankPrice</p>
                            <p>@Convert.ToString(string.Format("{0:dd-MMMM-yyyy}", ilan.AdvertDate))</p>
                        }
                    }
                </div>
                <div class="ilan1_buton">
                    <button onclick="window.location.href='@Url.Action("Login","Kullanicilar")'" class="button" style="vertical-align:middle">
                        <span>Randevu Al</span>
                    </button>
                </div>
            </div>
        </div>


        <div class="alt_alan">
            <div class="ilan1">
                @foreach (var ilan in Model.Adverts)
                {
                    if (ilan.AdvertsID == 8)
                    {
                        <h2>@ilan.AdvertTitle</h2>

                    }
                }
                <div class="ilan5_foto">
                    <img src="~/Content/img/peri.png" />
                </div>
                <div class="ilan1_aciklama">
                    <p>Elobooster:</p>
                    <p>Küme Aralığı:</p>
                    <p>Fiyat:</p>
                    <p>İlan Tarihi:</p>
                </div>
                <div class="ilan1_db">
                    @foreach (var ilan in Model.Adverts)
                    {
                        if (ilan.AdvertsID == 8)
                        {
                            <p>@ilan.Elooboster.FirstName</p>
                            <p>@ilan.Ranks.RankName</p>
                            <p>@ilan.Ranks.RankPrice</p>
                            <p>@Convert.ToString(string.Format("{0:dd-MMMM-yyyy}", ilan.AdvertDate))</p>
                        }
                    }
                </div>
                <div class="ilan1_buton">
                    <button onclick="window.location.href='@Url.Action("Login","Kullanicilar")'" class="button" style="vertical-align:middle">
                        <span>Randevu Al</span>
                    </button>
                </div>

            </div>
            <div class="ilan2">
                @foreach (var ilan in Model.Adverts)
                {
                    if (ilan.AdvertsID == 10)
                    {
                        <h2>@ilan.AdvertTitle</h2>

                    }
                }
                <div class="ilan6_foto">
                    <img src="~/Content/img/sincap.png" />
                </div>
                <div class="ilan1_aciklama">
                    <p>Elobooster:</p>
                    <p>Küme Aralığı:</p>
                    <p>Fiyat:</p>
                    <p>İlan Tarihi:</p>
                </div>
                <div class="ilan1_db">
                    @foreach (var ilan in Model.Adverts)
                    {
                        if (ilan.AdvertsID == 10)
                        {
                            <p>@ilan.Elooboster.FirstName</p>
                            <p>@ilan.Ranks.RankName</p>
                            <p>@ilan.Ranks.RankPrice</p>
                            <p>@Convert.ToString(string.Format("{0:dd-MMMM-yyyy}", ilan.AdvertDate))</p>
                        }
                    }
                </div>
                <div class="ilan1_buton">
                    <button onclick="window.location.href='@Url.Action("Login","Kullanicilar")'" class="button" style="vertical-align:middle">
                        <span>Randevu Al</span>
                    </button>
                </div>

            </div>
            <div class="ilan3">
                @foreach (var ilan in Model.Adverts)
                {
                    if (ilan.AdvertsID == 4)
                    {
                        <h2>@ilan.AdvertTitle</h2>

                    }
                }
                <div class="ilan7_foto">
                    <img src="~/Content/img/octopus.png" />
                </div>
                <div class="ilan1_aciklama">
                    <p>Elobooster:</p>
                    <p>Küme Aralığı:</p>
                    <p>Fiyat:</p>
                    <p>İlan Tarihi:</p>
                </div>
                <div class="ilan1_db">
                    @foreach (var ilan in Model.Adverts)
                    {
                        if (ilan.AdvertsID ==4)
                        {
                            <p>@ilan.Elooboster.FirstName</p>
                            <p>@ilan.Ranks.RankName</p>
                            <p>@ilan.Ranks.RankPrice</p>
                            <p>@Convert.ToString(string.Format("{0:dd-MMMM-yyyy}", ilan.AdvertDate))</p>
                        }
                    }
                </div>
                <div class="ilan1_buton">
                    <button onclick="window.location.href='@Url.Action("Login","Kullanicilar")'" class="button" style="vertical-align:middle">
                        <span>Randevu Al</span>
                    </button>
                </div>


            </div>
            <div class="ilan4">
                @foreach (var ilan in Model.Adverts)
                {
                    if (ilan.AdvertsID == 8)
                    {
                        <h2>@ilan.AdvertTitle</h2>

                    }
                }
                <div class="ilan8_foto">
                    <img src="~/Content/img/penguin.png" />
                </div>
                <div class="ilan1_aciklama">
                    <p>Elobooster:</p>
                    <p>Küme Aralığı:</p>
                    <p>Fiyat:</p>
                    <p>İlan Tarihi:</p>
                </div>
                <div class="ilan1_db">
                    @foreach (var ilan in Model.Adverts)
                    {
                        if (ilan.AdvertsID == 8)
                        {
                            <p>@ilan.Elooboster.FirstName</p>
                            <p>@ilan.Ranks.RankName</p>
                            <p>@ilan.Ranks.RankPrice</p>
                            <p>@Convert.ToString(string.Format("{0:dd-MMMM-yyyy}", ilan.AdvertDate))</p>
                        }
                    }
                </div>
                <div class="ilan1_buton">

                    <button onclick="window.location.href='@Url.Action("Login","Kullanicilar")'" class="button" style="vertical-align:middle">
                        <span>Randevu Al</span>
                    </button>

                </div>

            </div>

        </div>
    </div>
</div>



