@model IEnumerable<FRFELOBOOST.Models.Admins>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Admin Listesi</h2>


<table class="table">
    <tr>
        <th>
            <p>Username</p>
        </th>
        <th>
            <p>Şifre</p>
        </th>
        <th>
            @Html.DisplayNameFor(model => model.usertype)
        </th>
        <th>
            <p>Adı</p>
        </th>
        <th>
            <p>Soyadı</p>
        </th>
        <th>
            <p>E-Mail</p>
        </th>
        <th>
            <p>Telefon No</p>
        </th>
        <th>
            <p>Cinsiyet</p>
        </th>
        <th> Detaylar</th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.username)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.password)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.usertype)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LastName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TelefonNo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Genders.GenderName)
        </td>
        <td>
            <a class="btn btn-warning" href="@Url.Action("Edit", "Admins", new { id= item.AdminsID})">Güncelle</a>
            <a class="btn btn-primary" href="@Url.Action("Details", "Admins", new { id= item.AdminsID})">Detayı Gör</a>
            <a class="btn btn-danger" href="@Url.Action("Delete", "Admins", new { id= item.AdminsID})">Sil</a>

        </td>
    </tr>
}

</table>
